.lineX {
    margin: 0;
    height: 2px;
    background: repeating-linear-gradient(0deg,red 0 7px,#0000 0 13px)
    /*3px red then 4px transparent -> repeat this!*/
}

.lineY {
    margin: 0;
    height: 2px;
    background: repeating-linear-gradient(90deg,red 0 7px,#0000 0 13px)
    /*3px red then 4px transparent -> repeat this!*/
}
